.standardForm__wrapper__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px 0;
  position: relative;

  .standardForm__input {
    background: linear-gradient(#08c 0 0) 0 100% / var(--d, 0) 1px no-repeat;
    //body {background: url("image.png") top left / 95% 95% no-repeat scroll padding-box content-box color;}
    // margin-top: 50px;
    padding: 3px;
    font-size: 24px;
    outline: none !important;
    background-color: #2d2d31;
    color: rgb(180, 180, 180);
    // border-bottom: 3px solid rgb(68, 68, 68);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    transition: 0.3s all;

    &::placeholder {
      transition: 0.3s all;
      color: rgba(150, 150, 150, 0.438);
      font-size: 22px;
    }
    &:focus {
      --d: 100%;
      padding-right: 20px;
      &::placeholder {
        color: rgb(180, 180, 180);
        transform: translateX(5px);
      }
    }
    &::selection {
      background-color: rgba(150, 150, 150, 0.137);
    }
  }

  .standardForm__input__icon {
    position: absolute;
    right: 48px;
    bottom: 10px;
    width: 25px;
    font-size: 18px;
    border-radius: 100%;
    transition: 0.3s all;
    // opacity: 0.5;
    color: rgb(68, 68, 68);

    &:hover {
      // background-color: #fff;
      color: rgb(180, 180, 180);
      cursor: pointer;
    }
  }
}
