.root__wrapper {
  color: white;
  .root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    .root__header {
      background-color: transparent;
    }
    .root__main {
      background-color: transparent;
    }
    .root__footer {
      background-color: transparent;
    }
  }
}
